.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translateX(50%);
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .knopka {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 65%;
    transform: translateX(-160%);
  }
  
  
  .knopka:hover {
    background-color: #660303;
  }